# Файлы Python
__pycache__/
*.py[cod]
*$py.class

# Файлы окружения / виртуальных сред
.venv/
venv/
env/

# Базы данных и сгенерированные данные
*.db
*.sqlite
*.csv

# Файлы IDE (PyCharm)
.idea/
.vscode/

# Файлы покрытия тестами
.coverage
.coverage.*
htmlcov/

# Прочее
.DS_Store
Thumbs.db